/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        FunctionsLayer {
            bindings = <&sl 4>;
            key-positions = <40 41>;
        };
    };

    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&caps_word>, <&kp CAPSLOCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        tapping-term-ms = <400>;

        default {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC  &kp Q  &kp W       &kp E        &kp R        &kp T             &kp Y            &kp U        &kp I        &kp O       &kp P     &kp BSPC
&kp TAB  &kp A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &mt LEFT_WIN G    &mt RIGHT_WIN H  &mt RSHFT J  &mt RCTRL K  &mt RALT L  &kp SQT   &kp SLASH
&td0     &kp Z  &kp X       &kp C        &kp V        &kp B             &kp N            &kp M        &kp COMMA    &kp DOT     &kp SEMI  &kp CAPSLOCK
                            &lt 2 MINUS  &mo 1        &kp SPACE         &kp ENTER        &to 3        &kp TILDE
            >;

            label = "DEFAULT";
        };

        symbols {
            bindings = <
&kp RA(N1)  &kp RA(N2)  &kp RA(N3)  &kp RA(N4)  &kp RA(N5)  &kp RA(N6)    &kp AMPS    &kp ASTRK    &none      &kp LPAR  &kp RPAR  &trans
&trans      &trans      &trans      &trans      &trans      &trans        &kp DOLLAR  &kp PERCENT  &kp CARET  &kp LBKT  &kp RBKT  &mt BACKSLASH PIPE
&trans      &trans      &trans      &trans      &trans      &trans        &kp EXCL    &kp AT       &kp HASH   &kp LBRC  &kp RBRC  &kp EQUAL
                                    &trans      &trans      &trans        &trans      &trans       &kp CARET
            >;

            label = "Symbols";
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp UP    &kp PG_UP  &msc SCRL_UP    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp RIGHT  &msc SCRL_DOWN  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp END   &kp DOWN  &kp PG_DN  &kp ESC         &trans  &trans
                        &trans  &trans  &trans    &trans    &trans    &trans
            >;

            label = "Navigation";
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans       &trans  &trans    &kp N7  &kp N8      &kp N9  &kp STAR  &kp FSLH   &trans
&trans  &trans  &trans  &trans       &trans  &trans    &kp N4  &kp N5      &kp N6  &kp PLUS  &kp MINUS  &kp RIGHT_ALT
&trans  &trans  &trans  &trans       &trans  &trans    &kp N1  &kp N2      &kp N3  &kp LPAR  &kp RPAR   &kp EQUAL
                        &lt 2 MINUS  &to 0   &trans    &trans  &kp K_CALC  &kp N0
            >;

            label = "Numbers";
        };

        functions {
            display-name = "Functions";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &kp F7   &kp F8     &kp F9     &kp F10   &kp F11  &kp F12
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &kp RSHFT  &kp LCTRL  &kp LALT  &trans   &kp INSERT
&trans      &trans        &trans        &trans        &trans        &trans          &trans   &trans     &trans     &trans    &trans   &trans
                                        &trans        &trans        &trans          &kp RET  &trans     &trans
            >;
        };
    };
};
