/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        FunctionsLayer {
            bindings = <&sl 3>;
            key-positions = <40 41>;
        };
    };

    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance 0";
            #binding-cells = <0>;
            bindings = <&kp LCTRL>, <&caps_word>, <&kp CAPSLOCK>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "Tap Dance 1";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        tapping-term-ms = <400>;

        default {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC  &kp Q  &kp W       &kp E        &kp R        &kp T             &kp Y            &kp U        &kp I        &kp O       &kp P     &kp BSPC
&kp TAB  &kp A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &mt LEFT_WIN G    &mt RIGHT_WIN H  &mt RSHFT J  &mt RCTRL K  &mt RALT L  &kp SQT   &kp SLASH
&td0     &kp Z  &kp X       &kp C        &kp V        &kp B             &kp N            &kp M        &kp COMMA    &kp DOT     &kp SEMI  &kp DEL
                            &lt 4 GRAVE  &mo 1        &kp SPACE         &kp ENTER        &td1         &kp MINUS
            >;

            label = "DEFAULT";
        };

        symbols {
            bindings = <
&trans  &kp RA(NUMBER_1)  &kp RA(NUMBER_2)  &kp RA(NUMBER_3)  &kp RA(NUMBER_4)  &kp RA(N5)    &kp RA(NUMBER_6)  &trans    &kp CARET  &trans  &kp LPAR  &kp RPAR
&trans  &kp EXCL          &kp AT            &kp HASH          &kp DLLR          &kp PRCNT     &kp CARET         &kp AMPS  &kp TILDE  &trans  &kp LBKT  &kp RBKT
&trans  &mt BSLH PIPE     &trans            &trans            &trans            &trans        &trans            &trans    &trans     &trans  &kp LBRC  &kp RBRC
                                            &trans            &trans            &trans        &trans            &trans    &trans
            >;

            label = "Symbols";
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp SLASH  &kp N7  &kp N8  &kp N9  &kp ASTRK  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp MINUS  &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp COMMA  &trans
                        &mo 4   &to 0   &trans    &trans     &tog 2  &kp N0
            >;

            label = "Numbers";
        };

        functions {
            display-name = "Functions";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans          &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp F6   &kp F7     &kp F8     &kp F9    &kp F10  &kp F11
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans   &kp RSHFT  &kp LCTRL  &kp LALT  &trans   &kp F12
&studio_unlock  &trans        &trans        &out OUT_USB  &trans        &out OUT_BLE    &trans   &trans     &trans     &trans    &trans   &kp INS
                                            &trans        &trans        &trans          &kp RET  &trans     &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &none   &kp HOME  &kp UP    &kp PG_UP  &msc SCRL_UP    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &none   &kp LEFT  &kp DOWN  &kp RIGHT  &msc SCRL_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &none   &kp END   &kp DOWN  &kp PG_DN  &none           &trans
                        &trans  &trans  &trans    &trans  &trans    &trans
            >;

            label = "Navigation";
        };
    };
};
